* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
:root {
    --bg-color:#f2f2f2;
    --text-color:#000;
    --main-color:#591c21;
    --second-color:#d92525;
    --btn-color:#bc1f28;

    --h1-font: 5rem;
    --h2-font: 2.3rem;
    --p-font: 1.3rem;
}
body {
    background:#fff;
    color: var(--text-color);
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    box-shadow: 0 1px 6px 0  rgba(32 33 36 /10%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 14%;
    transition: all .40s ease;
    background: #fff;
    z-index: 1000;
}
.logo img {
    width: 50%;
    height: auto;
}
.navbar {
    display: flex;
}
.navbar a {
    margin: 10px 20px;
    color: var(--text-color);
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    transition: all .40s ease;
}
.navbar a:hover {
    color: var(--second-color);
}
.h-icons {
    display: flex;
    align-items: center;
}
.h-icons i {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 5px;
    margin-right: 20px;
    transition: all .40s ease;
}
.h-icons i:hover {
    transform: translateY(-5px);
    color: var(--second-color);
}
#menu-icon {
    width: 37px;
    height: 37px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50%;
    border: 1px solid var(--btn-color);
    background: var(--text-color);
    color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
    cursor: pointer;
    display: none;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../img/AdobeStock_319820082.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-text h1 {
    font-size: var(--h1-font);
    margin-top: 500px;
    color: var(--bg-color);
    font-family: 'Leckerli One', cursive;
    font-weight: 500;
    margin-bottom: 25px;
    text-decoration:wavy;
    line-height: 1.3;
}
span {
    color: var(--second-color);
    font-family: 'Leckerli One', cursive;
}
.home-text h2 {
    text-align: center;
    color: var(--bg-color);
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 33px;
}
.home-text p {
    color: var(--bg-color);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
